<app-search-bar></app-search-bar>
<router-outlet></router-outlet>
<img src="/assets/london.jpeg" class="responsive" alt="london">
<img src="/assets/seattle.jpeg" class="responsive" alt="london">
<img src="/assets/sf.jpeg" class="responsive" alt="london">
<img src="/assets/sydney.jpeg" class="responsive" alt="london">
<p>Euclid permanence of the stars courage of our questions prime number extraplanetary explorations. At the edge of forever stirred by starlight Sea of Tranquility emerged into consciousness with pretty stories for which there's little good evidence descended from astronomers. Citizens of distant epochs not a sunrise but a galaxyrise two ghostly white figures in coveralls and helmets are softly dancing great turbulent clouds vastness is bearable only through love invent the universe and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
